<div class="container my-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center mb-4">Contacto</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
            <form>
              <div class="form-group">
                <label for="email">Your E-mail:</label>
                <input type="email" class="form-control" id="email" placeholder="Tu email" name="email">
              </div>
              <div class="form-group">
                <label for="message">Your message:</label>
                <textarea class="form-control" id="message" rows="5" placeholder="Por favor, ingresa tu mensaje aquí..." name="message"></textarea>
              </div>
              <div class="form-group text-right">
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>