<!-- your html code here -->
<div class="container">
    <H5>Portfolio</H5>
    <p>Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
        Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae,
        ornare sit amet, wisi. </p>
    <div class="container border-top">
        <div class="row my-5">
            <div class="col-md-4">
                <img class="image-fluid" src="assets/img/big-project-image.png" alt="Portfolio images1"
                    style="width: -webkit-fill-available;">
            </div>
            <div class="col-md-4">
                <img class="img-fluid" src="assets/img/big-project-image.png" alt="Portfolio images2">
            </div>
            <div class="col-md-4">
                <img class="img-fluid" src="assets/img/big-project-image.png" alt="Portfolio images3">
            </div>
        </div>
    </div>
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-4">
                <h6 class="text-primary">Project Name</h6>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum mollitia voluptatibus repellendus
                    voluptate magnam unde esse nobis.</p>
            </div>
            <div class="col-md-4">
                <h6 class="text-primary">Project Name</h6>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum mollitia voluptatibus repellendus
                    voluptate magnam unde esse nobis.</p>
            </div>
            <div class="col-md-4">
                <h6 class="text-primary">Project Name</h6>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum mollitia voluptatibus repellendus
                    voluptate magnam unde esse nobis.</p>
            </div>

        </div>
    </div>

</div>