<div class="first-heading">
    <div class="container">
        <div class="row">
            <div class="col-8">
                <div class="justify-content-start">
                    <h1>
                        The First Heading
                        <small class="text-secondary">Will Catch Your Eye</small>
                    </h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae libero recusandae nulla,
                        quidem
                        hic
                        fugit
                        perspiciatis fuga tenetur veritatis. Molestias tempore sit minus ipsam dolores totam possimus
                        itaque
                        neque
                        voluptate?
                    </p>
                </div>
            </div>
            <div class="col-4">
                <img src="assets/img/1.jpg" class="img-fluid rounded-circle float-end" />
            </div>
        </div>
    </div>
</div>